@model Product

@{
    ViewData["Title"] = "Details";
     Layout = "_Layout1";
}

<h1>@Model.Name</h1>

<div class="img-thumbnail">
   <img alt="@Model.Name" src="@Url.Content(Model.ImageThumbnailUrl)"/>
    <div class="figure-caption">
        <h3 class="fa-pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4 >@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
    </div>
</div>
