@model ProductListViewModel

@{
    Layout = "_Layout1";
}

<h1>@Model.CurrentCategory</h1>
<div class="card-deck">
    @foreach (var item in Model.ProductsList)
    {


        <div class="card">
            <img class="card-img-top-custom" src="@Url.Content(item.ImageThumbnailUrl)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title ">@item.Name</h5>
                <h5 class="card-text fa-pull-right">@item.Price.ToString("c")</h5>
                <p class="card-text fa-pull-left">@item.ShortDescription</p>
            </div>
            
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>


    }
</div>

